In [1]:
import pandas as pd
df = pd.read_csv("datasets/salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
features = df.drop("salary_more_then_100k", axis="columns")
labels = df["salary_more_then_100k"]

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
company = le.fit_transform(features["company"])
job = le.fit_transform(features["job"])
degree = le.fit_transform(features["degree"])

df.drop(["company", "job", "degree"], axis="columns")

features["company"] = company
features["job"] = job
features["degree"] = degree

features.head()

   company  job  degree
0        2    2       0
1        2    2       1
2        2    0       0
3        2    0       1
4        2    1       0

In [9]:
import numpy as np
X = np.array(features)
y = np.array(labels)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

pipe = make_pipeline(StandardScaler(), DecisionTreeClassifier())
pipe.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [17]:
predictions = pipe.predict(X_test)
for x in range(len(predictions)):
    print(f"Prediction: {predictions[x]} Actual: {y_test[x]}")

Prediction: 1 Actual: 1
Prediction: 0 Actual: 0
Prediction: 0 Actual: 0
Prediction: 1 Actual: 1

In [18]:
from sklearn.metrics import accuracy_score
print(f"Accuracy: {round(accuracy_score(y_test, predictions)*100)}%")

Accuracy: 100%